body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7178;
  background: #fff;

  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-to-works {
  width: 100%;
  max-width: 1400px;

  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;

  align-items: center;
  border-bottom: 1px solid #4f5167;
  
}

.header.fixed{
  height: auto;
  position: fixed;
  background-color: #31344e;
}

.header.fixed.header__inner{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0;
}
.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  margin-left: 50px;
  color: white;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s linear;
}
.nav__link:first-child {
  margin-left: 0px;
}
.nav__link:hover {
  /*text-decoration: underline;*/
  opacity: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  padding-top: 100px;
  background: #31344e url("/img/intro-bg.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-family: "Open Sans" sans-serif;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  line-height: 1.1;
}

.intro__subtitle {
  font-family: "Open Sans" sans-serif;
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  border: 0;
  cursor: pointer;

  text-align: center;
  transition: background 0.2s linear;
}

.bnt--red {
  background: #e84545;
}

.bnt--red:hover {
  background: #af3434;
}

.btn--long {
  min-width: 280px;
}

.features {
  display: flex;
  margin: 95px 0px;
  flex-wrap: wrap;
}

.features__item {
  width: 33.33333%;
  text-align: center;
  padding: 0px 25px;
  margin: 25px 0px;
}

.features__icon {
  margin-bottom: 20px;
}

.features__title {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.features__text {
  line-height: 1.5;
  color: #6c7279;
  font-size: 14px;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  height: 350px;

  position: relative;
  overflow: hidden;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__photo {
  position: absolute;
  min-width: 100%;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: rgba(232, 69, 69, 0.75);
  opacity: 0;

  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity 0.2s linear;
}

.works__title {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.works__text {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

/* team */

.team {
  margin: 70px 0 70px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team__name {
  color: #2d3033;
  font-size: 22px;
  margin-bottom: 8px;
}

.team__prof {
  color: #e84545;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.team__text {
  color: #6c7279;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Social */
.social {
  display: flex;
}

.social--footer {
  justify-content: center;
}

.social--footer .social__item {
  background-color: transparent;
  border-width: 2px;
  border-color: white;
  border-radius: 2px;
}
.social--footer .social__item:hover {
  background-color: white;
}
.social--footer .social__icon {
  fill: white;
}

.social__item {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #c6cacc;
  justify-content: center;
  align-items: center;
  margin-right: 4px;

  transition: background 0.2s linear;
}

.social__icon {
  fill: #c6cacc;
  display: block;
  height: 18px;
  transition: fill 0.2s linear;
}

.social__item:hover {
  background: #dddfe0;
}

.social__item:hover .social__icon {
  fill: #2d3033;
}

/* reviews */

.reviews {
  overflow: hidden;
  background-color: #53354a;
}

.reviews__item {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.reviews__slider{
  height: 500px;
  overflow: hidden;
}

.reviews__slider.slick-initialized{
  height: auto;
}

.reviews__photo {
  width: 50%;
  height: 500px;
  position: relative;
}
.slick-dots{
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  
}
.slick-dots button{
background: #fff;
border: 0;
border-radius: 50%;
padding: 0;
font-size: 0;
color: transparent;
height: 20px;
width: 20px;
opacity: 0.5;
cursor: pointer;
}
.slick-dots li{
  margin-right: 5px;
  
}
.slick-dots .slick-active button{
  opacity: 1;
}

.reviews__img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;

  transform: translateY(-50%);
}

.reviews__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
}

.reviews__text {
  margin-bottom: 25px;

  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: #fff;
}

.reviews__author {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/* Download */
.download {
  margin: 90px 0;
  text-align: center;
}

.download__title {
  color: #2d3033;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
}

.download__text {
  color: #2d3033;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Footer */

.footer {
  background-color: #3a3e64;
}

.footer__inner {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__block {
  width: 33.33333%;
  text-align: center;
}

.footer__title {
  color: white;
  font-size: 14px;
  font-weight: 700px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__addres {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.footer__addres__1 {
  margin-bottom: 0px;
}

.footer__text {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}

.footer__text__1 {
  margin-bottom: 0px;
}
/*copyright  */
.copyright {
  background-color: #313454;
  padding: 20px 0;
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
}

.copyright__text span {
  color: white;
}

/* Burger */
.burger {
  display: none;
  padding: 9px 2px;

  background: none;
  border: 0;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;

  background-color: #fff;

  font-size: 0;
  color: transparent;

  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  height: 100%;

  background-color: #fff;

  position: absolute;
  right: 0;
  z-index: 1;
}

.burger__item:before {
  width: 30px;
  top: -8px;
}

.burger__item:after {
  width: 30px;
  bottom: -8px;
}

/* MEDIA ===============*/
@media (max-width: 1300px) {
  /*works  */
  .works__item {
    width: 50%;
  }
}

@media (max-width: 991px) {
  /* Navigation */
  .nav {
    display: none; 
    width: 100%;
    text-align: right;
    background-color: #31344e;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
  }

  .nav.show{
    display: flex;
  }
  .nav__link{
    padding: 10px 15px;
  }
  /* burger */
  .burger {
    display: block;
  }
  /* Intro */
  .intro__title {
    font-size: 40px;
  }
  /* BTN */
  /* features */
  .features__item {
    width: 50%;
  }

  /* team */
  .team__item {
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
  }
  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }

  .team__inner{
    margin: 50px 0;
  }
/* social */
  .social{
    justify-content: center;
  }

  /* reviews */
  .reviews__photo{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;

  }

  .reviews__content{
    width: 100%;
    padding-left: 0px;
    padding-bottom: 40px;
  }


}

@media (max-width: 767px) {
  .intro {
    height: auto;
    padding-bottom: 30px;
    padding-top: 130px;
  }

  .intro__title {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .intro__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .features {
    margin: 40px 0;
  }
  .features__item {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  /*works  */
  .works__item {
    width: 100%;
    height: 300px;
  }

   /* team */
   .team__item {
    width: 100%;
  }

  /* reviews */
  .reviews__text{
    font-size: 25px;
  }

  /* btn--long */

  .btn--long{
    min-width: 250px;
    
  }

  /* download */
  .download{
    margin: 50px 0;
  }

  .download__title{
    font-size: 24px;
  }

  /* footer */
  .footer__block{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
   
  }
  .footer__block:last-child{
    margin-bottom: 0px;
  }
  .footer__inner{
    padding: 30px 0;
  }
}
